/*importar fuente / font import*/
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;700&display=swap');

/*propiedades personalizadas / custom properties*/
:root{
    --primary-vd-magenta:hsl(300, 43%, 22%);
    --primary-s-pink:hsl(333, 80%, 67%);

    --neutral-dg-magenta:hsl(303, 10%, 53%);
    --neutral-lg-magenta:hsl(300, 24%, 96%);
    --neutral-white:hsl(0, 0%, 100%);

    --League-Spartan:'League Spartan';
}

/*Box sizing*/
html {
    box-sizing: border-box;
    font-size: 62.5%;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

h1{
    font-size: 3.5rem;
    font-family: var(--League-Spartan);
    font-weight: 700;
    text-align: center;
    margin: 3rem 4rem;
}
@media (min-width: 850px) {
    h1{
        text-align: start;
        font-size: 4.5rem;
        margin: 3rem 0;
    }
}
p{
    font-size: 1.5rem;
    font-family: var(--League-Spartan);
}

/*contenido body*/
.contenedor{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    align-items: center;
    width: 90%;
}

@media (min-width: 850px) {
    .contenedor{
        width: 55%;
    }
    .contenedor-seccion1{
        background-image: url("../images/bg-pattern-top-desktop.svg");
    }
    .contenedor-seccion2{
        background-image: url("../images/bg-pattern-bottom-desktop.svg");
    }
}

/*Seccion 1*/
.contenedor-seccion1{
 background-image: url("../images/bg-pattern-top-mobile.svg");   
}
.contenedor-titulo{
    color: var(--primary-vd-magenta);
}
@media (min-width: 850px) {
    .contenedor-titulo-parrafo{
        width: 40%;
    }
}
.seccion1-parrafo{
    color: var(--neutral-dg-magenta);
    text-align: center;
    margin: 0 1rem;
}
@media (min-width: 850px) {
    .seccion1-parrafo{
        text-align: start;
        margin: 0;
    }
}
.seccion1-estrellas{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--neutral-lg-magenta);
    margin: 2rem auto;
    padding-top: 2rem;
    border-radius: 1rem;
}
@media (min-width: 850px) {
    .seccion1-estrellas{
        flex-direction: row;
        gap: 3rem;
        justify-content: center;
        padding: 0 3rem;
        margin: 1rem 2rem;
    }
}
.estrellas-parrafo{
    color: var(--primary-vd-magenta);
    font-weight: 700;
}
@media (min-width: 850px) {
    .contenedor-seccion1{
        display: flex;
        flex-direction: row;
        gap: 9rem;
    }
}
@media (min-width: 850px) {
    .contenedor-estrellas{
        width: 60%;
        display: flex;
        flex-direction: column;
        margin-top: 5rem;
        
    }
}
@media (min-width: 850px) {
    .inicio{
        align-self: flex-start;
    }
    .medio{
        align-self: center;
    }
    .fin{
        align-self: flex-end;
    }
    .columna2{
        margin-top: 2rem;
    }
    .columna3{
        margin-top: 4rem;
    }
}
/*Seccion 2*/
.contenedor-seccion2{
    background-image: url("../images/bg-pattern-bottom-mobile.svg");
    margin-top: 1rem;
}
@media (min-width: 850px) {
    .contenedor-seccion2{
        display: flex;
        gap: 2rem;
    }
}

.seccion2-users{
    background-color: var(--primary-vd-magenta);
    padding: 2rem;
    margin-top: 2rem;
    border-radius: 1rem;
    
}

.users-perfil{
    display: flex;
    justify-content: start;
    gap: 2rem;
}
.users-img{
    width: 4rem;
    height: 4rem;
    margin-top: 1rem;
    border-radius: 50%;
}
.users-nombre{
    color: var(--neutral-white);
    font-weight: 500;
}
span{
    color: var(--primary-s-pink);
}
.users-comentario{
    color: var(--neutral-white);
}
/*Frontend Mentor properties*/  
.attribution {
    font-size: 11px;
    text-align: center;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}